.header {
    background-color: #333399;
}
.footer {
    background-color: rgb(0, 0, 100);
}
#banaan {
    background-color: yellow;
}
#appel {
    background-color: red; 
}
#perzik {
    background-color: #fab983;
}
#kiwi {
    background-color: #7A960F;
}
#peer {
    background-color: #d1e231;
}
#mango {
    background-color: #FFBF34;
}
#mandarijn {
    background-color: #f37a48;
}
#meloen {
    background-color: #fdbcb4;
}